@using First_ASPNET_Core_MVC.Models.ViewModels;
@model AnimalViewModel;

<h1>LISTA DE ANIMALES</h1>

<ul>
	@foreach (var animal in Model.Animales)
	{ 
		<li>
			<span class="animal-id">ID: @animal.IdAnimal</span> @animal.NombreAnimal
		</li>
	}
</ul>